# BACKEND

# django
DEBUG=true
SECRET_KEY="generated_key"
DJANGO_ALLOWED_HOSTS="localhost"
DJANGO_CORS_ALLOWED_ORIGINS="http://localhost:80"
DJANGO_CSRF_TRUSTED_ORIGINS="http://localhost:80"
SESSION_COOKIE_SECURE=false
CSRF_COOKIE_SECURE=false
CSRF_COOKIE_HTTPONLY=false
SESSION_COOKIE_HTTPONLY=true
# Url клиента (для CORS, редиректов)
CLIENT_URL="http://localhost:80"
# Swagger UI
API_SCHEMA_URL="http://localhost:80"
USE_GUNICORN=true
DJANGO_LOG_LEVEL="ERROR"
SEAWEEDFS_S3_FILE_OVERWRITE=False
SEAWEEDFS_DEFAULT_ACL="public-read"
SEAWEEDFS_S3_VERIFY=False
SEAWEEDFS_QUERYSTRING_AUTH=True
SEAWEEDFS_QUERYSTRING_EXPIRE=300

# Gunicorn
GUNICORN_WORKERS="5"
GUNICORN_THREADS="4"
GUNICORN_TIMEOUT="120"

# Redis
REDIS_USER="redis"
REDIS_PORT="6379"
REDIS_PASSWORD="generated_key"
REDIS_USER_PASSWORD="generated_key"

# SeaweedFS
SEAWEEDFS_ACCESS_KEY="generated_key"
SEAWEEDFS_SECRET_KEY="generated_key"
SEAWEEDFS_BUCKET_NAME="achievement"
# use internal URL for docker
SEAWEEDFS_ENDPOINT_URL="http://seaweedfs:8333"
# use external URL for public access
SEAWEEDFS_PUBLIC_URL="http://localhost:8888"

# postgres
POSTGRES_DB="Project"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="generated_key"
DB_HOST="db"
DB_PORT="5432"
HAS_DUMP="true"

# FRONTEND
# Url, куда клиент отправляет запросы
NEXT_PUBLIC_API_URL="http://localhost:80"
