# BACKEND

# django
# default debug true
DEBUG=True
SECRET_KEY="django-insecure-symbols"

# SeaweedFS
SEAWEEDFS_ACCESS_KEY=some_access_key
SEAWEEDFS_SECRET_KEY=some_secret_key
SEAWEEDFS_BUCKET_NAME=bucket_name
# default 
SEAWEEDFS_ENDPOINT_URL=http://seaweedfs:8333

# postgres
POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# FRONTEND
# default 
NEXT_PUBLIC_API_URL="http://localhost:8000"