.idea
.idea/
*.iws
*.iml
*.ipr
venv
.env
.venv
env/
venv/
ENV/
env_name/
env.bak/
venv.bak/

static/uploads
TODO.md
README.md
__pycache__/
*.py[cod]
*$py.class

/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/
/.idea/misc.xml
/.idea/runConfigurations/

.pylintrc
__pycache__/
.vscode
.idea
db.sqlite3
static/main/fonts