services:
  backend:
    build: ./app/backend
    container_name: app_backend
    volumes:
      - ./app/backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
        restart: true
  frontend:
      build: ./app/frontend
      container_name: app_frontend
      volumes:
        - ./app/frontend:/app
        - /app/node_modules
      ports:
        - "3000:3000"
      environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL:-http://localhost:8000}
      - WATCHPACK_POLLING=true 
      env_file:
        - .env
      depends_on:
        - backend
  db:
    image: postgres:17
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 15s
      timeout: 10s
volumes:
  postgres_data: