{% extends "admin/base.html" %}
{% load static %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<img src="{% static 'images/gerb.png' %}" alt="Логотип" height="100" style="vertical-align: middle; margin-right: 20px;">
<div style="align-content: center;" id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block usertools %}
{{ block.super }}
<div class="user-tools" style="display: flex; list-style: inside;">
  <ul role="list">
    {% comment %} <li>
      <a href="{{ EXTERNAL_SITE_URL }}" target="_blank">Клиент</a>
    </li> {% endcomment %}
    <li>
      <a href="{{ API_SCHEMA_URL }}/api/schema/swagger-ui/" target="_blank">Swagger-ui API Docs</a>
    </li>
    <li>
      <a href="{{ API_SCHEMA_URL }}/api/schema/redoc/" target="_blank">Landing API Docs</a>
    </li>
    <li>
      <a href="{{ API_SCHEMA_URL }}/api/schema/" target="_blank">Скачать схему API</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}